
 :global( body) {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
  }
  /* ========== Navbar ========== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2rem;
    flex-wrap: wrap;
  }
  
  .logo {
    height: 4rem;
    width: 4rem;
    margin-top: 0rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
  }
  
  .nav-links {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-left: 1rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }
  
  .nav-links a {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000000;
    font-size: 12pt;
    font-family: "Gill Sans", sans-serif;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #F06161;
    border-bottom: 2px solid #F06161;
  }
  
  .login-container {
    display: flex;
  }
  
  .login-left {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
  }
  
 :global(h2) {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  :global(p) {
    margin-top: 1.5rem;
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  /* ========== Social Icons ========== */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 2rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
  }
  
  .social-icons svg {
    cursor: pointer;
  }
  
  .social-icons svg:hover {
    color: #fff;
    background-color: #F06161;
    padding: 10px;
    border-radius: 50%;
  }
  
  
  /* ========== Divider ========== */
.divider {
    text-align: center;
    position: relative;
    font-size: 0.9rem;
    margin: 1rem ;
    margin-bottom: 3.5rem;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    width: 10rem;
    height: 1px;
    background: #000;
  }
  
  .divider::before {
    left: 11rem;
  }
  
  .divider::after {
    right: 11rem;
  }
  
  
  /* ========== Input Groups ========== */
.input-group {
    margin-top: 2rem;
    margin-left: 10.5rem;
    position: relative;
    margin-bottom: 1rem;
    width: 24rem;
  }
  
  .input-group svg {
    position: absolute;
    top: 1.3rem;
    left: 0.75rem;
    transform: translateY(-50%);
    color: #333;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 2px solid #F06161;
    border-radius: 1rem;
    background: transparent;
    color: #000;
  }
  
  .input-group .toggle-password {
    position: absolute;
    top: 1.3rem;
    right: 0.75rem;
    left: auto;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .password {
    display: flex;
    gap: 11rem;
    list-style: none;
    margin-left: 11rem;
    flex-wrap: wrap; 
    font-size: 0.75rem;
  }
  
  /* ========== Submit Button ========== */
  .login-button{
    display: block;
    width: 60%;
    margin: 1.5rem auto;
    padding: 0.75rem;
    background-color: #F06161;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 3rem;
    width: 11rem;
  }

  .login-button:hover{
    background-color: #ED3E3E;
  }


  .login-right {
    background-image: url('/images/rightside.png'); 
    background-size: fill; 
    background-position: center; 
    flex: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -2rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  
  .login-right h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }
  
  .login-right p {
    text-align: center;
    max-width: 15rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .sign-up-btn {
    display: block;
    width: 60%;
    margin: 1.5rem auto;
    padding: 0.75rem;
    background-color: #F06161;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 3rem;
    width: 11rem;
  }

  .sign-up-btn:hover{
    background-color: #ED3E3E;
  }
  